
.cuadrito{
	position: unset ;
	width:550px;
	height:585px;
	padding-left: 11px;
	padding-top: 15px;
	background-color:rgb(145, 243, 64);
	border-radius:20px;
	margin:auto;
    align-items: center;
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.cuadrito h1 {
    color: red;
    font-size: 25px;
    text-align: center;
    
}

input[type=text],[type=email]{
	width:350px;
	height:20px;
	border-radius:10px;
	

}

input[type=tel]{
	width:350px;
	height:20px;
	border-radius:10px;
	

}

textarea{
	width: 500px;
	height: 110px;
	
}

input[type=submit]{
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-right: 100px;
    width:350px;
	height:40px;
    margin-left: 90px;
	color: rgb(255, 255, 255);
	background-color: rgb(253, 125, 103);
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
    
}

p{
	text-shadow:0 1px 0 #fff;
	font-size:24px;
}

label{
	margin:11px 20px 0 0;
	font-size:16 px;
	color:#db15a0;
	text-transform: uppercase;
	text-shadow:0px 1px 0px #fff;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}
body{
    background: "unamed.jpg";
    background-size: cover;
}

